

body{
  font-family: 'Karla', sans-serif;
  background: White;
  margin: 0;
  padding: 0;
}


.site-logo {
  float: left;
  font-size: 32px;
}

.meny {
  width: 100%;
  position: fixed;
  top: 0;
  font-weight: 700;
  background-color: #fff;
  z-index: 9999;

  padding-top:20px;
  padding-right: 40px;
  padding-bottom:0;
  padding-left: 40px;
}

.nav {
  float: right;
}

.nav > li {
  display: inline-block;
  padding-left: 30px;
}

.nav > li > a {
  text-decoration: none;
  color: black;
}

.nav > li > a:hover {
  color: #E95231;
}

ul {
  line-height: unset;
}


a{
  color: black;
  font-weight: 700;
  font-size: 32px;
}

a:hover{
  color:#E95231;
}


/*
.nav{
  background-color: transparent;
  list-style: none;
  color: #E95231;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 22px;
  width: 100%;
  position: fixed;
}



*/


.background-image {
  background:url('Adam-9år.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 100vh;

}

h1{
  color: #E95231;
  text-align: center;
  font-size: 40px;
  padding-top: 400px;
  margin-bottom: 0px;
  font-weight: 700;

  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn{
  animation-name: fadeIn;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
  margin-top: 1000px;
}


#work {
  margin-top: 1000px;

  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

span {
  padding:0;
  margin: 0;
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
